/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* GENERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant", serif;
}

/* NAVBAR */

nav {
  position: fixed;
  background-color: rgb(57, 43, 136);
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav li {
  height: 3em;
  display: block;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  font-size: 1.1em;
  text-transform: uppercase;
  display: block;
  height: 100%;
  line-height: 3em;
  padding: 0 0.5em 0 0.5em;
}

nav a:hover {
  background-color: #fff;
  color: rgb(57, 43, 136);
  transition: all 0.3s ease-in-out;
}

/* Fix navbar links thanks to https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors */

html {
  scroll-padding-top: 48px;
}

/* MAIN */

main {
  position: relative;
  top: 48px;
}

/* WELCOME */

#welcome {
  height: calc(100vh - 48px);
  background-color: rgb(27, 26, 37);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome header {
  font-size: 6em;
  text-align: center;
  margin: 0.6em;
}
#welcome p {
  font-size: 2em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

/* PROJECTS */

#projects header {
  font-size: 4em;
  text-align: center;
  margin: 0.6em;
}

#projects img {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 850px;
}

.projects > div > h2 {
  text-align: center;
}

.projects > div {
  margin: 1em;
}
